streamlit
python-dotenv
pandas
numpy
matplotlib
seaborn

scikit-learn
joblib

requests
python-whois
dnspython
tldextract
beautifulsoup4
lxml

pymongo
certifi
pymongo[srv]==3.12

pyyaml
mlflow
dagshub

fastapi
uvicorn

# -e .